@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Satisfy&display=swap');

:root{
    /*Fonts*/
    --font-Montserrat :'Montserrat', sans-serif;
    --font-opensans :'Open Sans', sans-serif;
    --font-satisfy: 'Satisfy', cursive;

    /*Colors*/
}