.cart {
  padding: 30px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  &__btn {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-0.1rem);
    }
  }
}

.cart-products {
  padding: 0;
  &__noProduct {
    height: 25vh;
  }
}

.product-img {
  width: 150px;
  height: 150px;
}

.product-delete {
  background-color: inherit;
  color: red;
  cursor: pointer;
}

.products-info {
  display: flex;
  flex-direction: column;
  &__header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__product {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;
  }
}

.opciones-pago {
  margin: 0 auto;
  &__lista {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-left: 0;
  }
  h5 {
    font-family: "Yeseva One", cursive;
    font-weight: bold;
  }
}

.opcion_imagen {
  list-style: none;
  padding-left: 0;
  img {
    width: 80px;
    height: 80px;
  }
}

.total-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__subtotal {
    font-size: 18px;
    font-weight: bold;
    font-family: "Yeseva One", cursive;
  }
  &__msg {
    font-size: 12px;
    margin-top: 10px;
  }
  &__btn {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #fff;
    font-weight: bold;
    width: 20%;
    border: none;
    border-radius: 10px;
    padding: 2px;
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-0.1rem);
    }
  }
}
